#Variáveis de ambiente
.env
nlp-env
venv

#Cache do python
__pycache__
tempCodeRunnerFile.py

#Configurações do ambiente de desenvolvimento
.vscode

#Cache do pytest
.pytest_cache

#Arquivos de debug e lista de afazeres
log.txt
todo.md
#back
npl-env

test.py